/* -------------------- Interior Cleaning Page -------------------------- */
.interior-cleaning-section {
  margin-top: 10vw;
  margin-bottom: 10vw;
}

.interior-cleaning-section > .row {
  justify-content: center;
}

.interior-cleaning-info > h2 {
  color: black;
  font-weight: 800;
}

.interior-cleaning-info > p {
  color: black;
}

.carousel-inner img {
  width: 100%;
  height: 25vw;
  object-fit: cover;
}

.carousel-indicators {
  list-style: none;
  padding-left: 0;
}

.interior-cleaning-prices-section {
  background-color: #f0efef;
  opacity: 0.8;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  margin-top: 10vw;
  margin-bottom: 10vw;
  justify-content: space-around;
}

.before-after-results-section {
  margin-bottom: 10vw;
}

/*flip*/

.flip-container {
  perspective: 1000px;
}
.flip-container:hover .flipper,
.flip-container.hover .flipper {
  transform: rotateY(180deg);
}
.flip-container,
.front,
.back {
  width: 320px;
  height: 200px;
}
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}
.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.front {
  z-index: 2;
  transform: rotateY(0deg);
}
.back {
  transform: rotateY(180deg);
}

.before-after-results-header {
  text-align: center;
}

.before-after-results-header h1 {
  color: black;
  font-weight: 800;
}

.interior-cleaning-price-item {
  border-radius: 15px;
  background-color: #fff;
  height: auto;
  margin-bottom: 10vh;
  width: 20%;
}

.interior-cleaning-price-item > ul {
  margin-bottom: 3rem;
}

@media only screen and (max-width: 1024px) {
  .interior-cleaning-price-item {
    margin-bottom: 2rem;
    width: 25%;
  }
  .flipper-section {
    flex: 0 0 auto;
    width: 33%;
  }
}

@media only screen and (max-width: 576px) {
  .interior-cleaning-price-item {
    font-size: small;
    margin-bottom: 2rem;
    width: 80%;
  }
  .prices-header h1 {
    font-size: larger;
  }
  .deep-cleaning-info h2 {
    font-size: large;
    font-weight: 800;
  }
  .deep-cleaning-info p {
    font-size: xx-small;
  }
  .flip-container {
    margin-bottom: 3rem;
    margin-left: 3rem;
  }
  .flipper-section {
    flex: 0 0 auto;
    width: 100%;
  }
}

.euro-symbol {
  font-size: 24px;
  vertical-align: super;
  margin-right: 5px;
}

.price-header-line {
  width: 33%;
  height: 2px;
  background-color: black;
  margin: 0 auto; /* Centers the line horizontally */
}
