<section id="about" class="page-section">
  <div class="container">
    <div class="row">
      <div class="about-services">
        <h1>
          <span> CAR CLEANING <br />& DETAILING </span>
        </h1>
      </div>
      <p>
        At Max Vision Auto Detailing, in Argyroupoli, Athens, we're all about
        making your car look brand new again. We offer expert cleaning,
        polishing, and protective coatings to give your vehicle that showroom
        shine. Whether you want to refresh your ride or keep it looking its
        best, we've got you covered with top-notch service and results you'll
        love.
      </p>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12" style="padding-left: 0px">
        <div class="service-item service-item-1">
          <div class="service-title">
            <span class="first-word">Interior </span>
            <span class="second-word">Cleaning</span>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="service-item service-item-2">
          <div class="service-title">
            <span class="first-word">Car </span>
            <span class="second-word">Polishing</span>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="service-item service-item-3">
          <div class="service-title">
            <span class="first-word">Ceramic </span>
            <span class="second-word">Coating</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
