html,
body {
  overflow-x: hidden;
}

img,
video {
  max-width: 100%;
  height: auto;
}

/* ----------------------------------- Video Section ------------------------------------*/
.video-container {
  z-index: -100;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
}

.video-container-contact {
  z-index: -100;
  width: 100%;
  height: 60vh;
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
}

#video-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-tint {
  position: absolute; /* Positions the overlay over the video */
  top: 0;
  left: 0;
  width: 100%; /* Ensures the overlay covers the entire container */
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adds a black tint with 50% opacity */
  pointer-events: none; /* Allows interactions with elements beneath the overlay */
}

/* ----------------------------------- About Section ------------------------------------*/

.about-section-padding {
  padding-top: 10vh;
  margin-bottom: 10vw;
}
.about-section-padding p {
  color: black;
}

.row-pb-10 {
  padding-bottom: 10vh;
}

.service-item {
  position: relative;
  padding-top: 10vh;
}

.service-item-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../assets/images/interior-cleaning.jpeg);
  background-size: cover;
  background-position: center;
  height: 23vh;
}
.service-item-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../assets/images/car-polishing.jpeg);
  background-size: cover;
  background-position: center;
  height: 23vh;
}

.service-item-3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../assets/images/ceramic-coating.jpg);
  background-size: cover;
  background-position: center;
  height: 23vh;
}

.service-item-4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../assets/images/ppf.jpg);
  background-size: cover;
  background-position: center;
  height: 23vh;
}

@media only screen and (min-width: 450px) and (max-width: 1024px) {
  .col-md-3 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
.about-services {
  padding-bottom: 2vh;
}

.about-services h1 span {
  font-size: 80%;
  font-family: sans-serif;
  color: black;
  padding-bottom: 10vh;
  font-weight: 800;
}

.service-title {
  color: #fff;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
  font-family: sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.first-word {
  color: white;
}

.second-word {
  color: darkorange;
}

.logo-image {
  max-height: 49px;
  padding-bottom: 4px;
}

.row-coating-info {
  display: flex;
  justify-content: space-around;
}

.bla-bla {
  padding-left: 100px;
}

.bla-bla > h1 {
  color: black;
  font-weight: 800;
}

.bla-bla > p {
  color: black;
  width: 95%;
  font-size: large;
}

.bla-bla > button {
  background-color: black;
  border-color: darkorange;
}

.video-thumbnail {
  position: relative;
  width: 100vw;
  height: 50vw;
  max-width: 600px;
  max-height: 340px;
  margin: 0 auto;
  cursor: pointer;
}

.video-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15%;
  height: 15%;
  background: url("https://img.icons8.com/ios-filled/100/ffffff/play-button-circled.png")
    no-repeat center;
  background-size: contain;
}

.video-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.video-popup-content {
  position: relative;
  width: calc(40vw * 16 / 9);
  height: 40vw;
  margin: 0;
  padding: 0;
}

.video-popup-content iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  padding: 0;
  margin: 0;
  display: block;
}

@media only screen and (max-width: 1024px) {
  .row-coating-info {
    display: block;
    text-align: center;
  }

  .video-thumbnail {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: none;
  }

  .bla-bla {
    padding-left: 0;
    margin-top: 20px;
    width: 100%;
  }

  .bla-bla > p {
    width: 90%;
    margin: 0 auto;
  }

  .bla-bla > button {
    margin-top: 10px;
  }
}

.global-container {
  padding-left: 10vw;
  padding-right: 10vw;
  margin-left: auto;
  margin-right: auto;
}

/* ----------------------------------- Follow Us Section ------------------------------------*/
.follow-us-section {
  background-color: #f0f1f4;
  opacity: 0.8;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  background-color: #f8f9fa;
  margin-top: 10vw;
  margin-bottom: 10vw;
}

.follow-us-container > .row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.follow-us-container > .row > .col-5 > h2 {
  color: black;
}

.follow-us-container > .row > .col-5 > p {
  color: black;
}

.youtube-link {
  color: darkorange;
}

.follow-us-container > .row > .col-5 > h2 > span {
  font-weight: 300;
}

.social-links > a {
  color: black;
  margin-right: 20px;
}

.follow-us-banner {
  height: 20vw;
  background-image: linear-gradient(to right, rgba(248, 249, 250, 0), #f8f9fa),
    linear-gradient(to left, rgba(248, 249, 250, 0), #f8f9fa),
    url(../assets/images/banner-lambo.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 767px) {
  .follow-us-banner {
    display: none;
  }
}

.youtube-subscriber-count {
  text-align: center;
  color: #333;
  padding: 10px;
}

.youtube-subscriber-count .subject {
  font-size: 14px;
  font-weight: 300;
  color: #555;
}

.global-price-tag p {
  font-size: 16px;
  font-weight: normal;
  margin: 0;
  color: inherit;
  display: inline;
}

.global-price-header {
  color: black;
  font-weight: 800;
  margin-top: 5vh;
  margin-bottom: 5vh;
  text-align: center;
}

.global-price-tag {
  color: black;
  font-weight: 800;
  text-align: center;
  font-size: xxx-large;
  margin-top: 7vh;
  margin-bottom: 7vh;
}

.prices-header {
  text-align: center;
  font-weight: 800;
  padding-bottom: 5vh;
  padding-top: 1rem;
}

.prices-header h1 {
  color: black;
  font-weight: 800;
}

.disclaimer-section {
  justify-content: center;
  margin-left: 20vh;
  margin-right: 20vh;
}

.disclaimer-section h6 {
  font-weight: 800;
}

.disclaimer-section p {
  font-size: x-small;
}

.row-with-2-items {
  display: flex;
  justify-content: space-evenly;
}

.row-with-3-items {
  display: flex;
  justify-content: space-evenly;
}

@media only screen and (max-width: 576px) {
  .disclaimer-section {
    width: 80%;
    justify-content: center;
    margin-left: 5vh;
    margin-right: 5vh;
  }

  .disclaimer-section > p {
    font-size: xx-small;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
}

@media only screen and (max-width: 1024px) {
  .disclaimer-section {
    width: 80%;
    justify-content: center;
    margin-left: 5vh;
    margin-right: 5vh;
  }

  .disclaimer-section > p {
    font-size: xx-small;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
}
