<div id="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3148.229263110522!2d23.75305987540246!3d37.90170360483908!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x21e81b1835de92ab%3A0xf1f524a4b898c15f!2sMaxVision%20AutoDetailing!5e0!3m2!1sen!2sgr!4v1710862922731!5m2!1sen!2sgr" width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>

<footer>
<section id="footer">
 
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <div class="logo">
                    <a class="logo-ft scroll-top" href="#">
                        <img class="logo-image" src="../../../assets/img/profile-trans.png" alt="Max Vision Logo">
                    </a>
                        <ul>
                            <li>&copy; 2023 Max Vision Auto Detailing. <br> All rights reserved</li>
                        </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-12">
                <div class="location">
                    <h4>Location</h4>
                    <ul>
                        <li>Leof. Kiprou 160, Argiroupoli 164 52</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="contact-info">
                    <h4>More Info</h4>
                    <ul>
                        <li><em>Phone</em>: 213 0477412</li>
                        <li><em>Email</em>: maxvisionautodetailing@gmail.com</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-sm-12">
                <div class="connect-us">
                    <h4>Get Social with us</h4>
                    <ul>
                        <li><a href="https://www.instagram.com/maxvisionautodetailing/" target="_blank" title="Instagram"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="https://www.facebook.com/MaxVisionAD/" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://www.youtube.com/@maxvisionautodetailing" target="_blank" title="YouTube"><i class="fa fa-youtube-play"></i></a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>
</footer>
