.step-1-banner {
  background-image: linear-gradient(to right, rgba(248, 249, 250, 0), #f8f9fa),
    linear-gradient(to left, rgba(248, 249, 250, 0), #f8f9fa),
    url(/assets/images/ppf-scratch.jpg);
}

.step-2-banner {
  background-image: linear-gradient(to right, rgba(248, 249, 250, 0), #f8f9fa),
    linear-gradient(to left, rgba(248, 249, 250, 0), #f8f9fa),
    url(/assets/images/ppf-self-heal.jpg);
}

.step-3-banner {
  background-image: linear-gradient(to right, rgba(248, 249, 250, 0), #f8f9fa),
    linear-gradient(to left, rgba(248, 249, 250, 0), #f8f9fa),
    url(/assets/images/ppf-paint.jpg);
}

.step-4-banner {
  background-image: linear-gradient(to right, rgba(248, 249, 250, 0), #f8f9fa),
    linear-gradient(to left, rgba(248, 249, 250, 0), #f8f9fa),
    url(/assets/images/ppf-uv.jpg);
}

.step-5-banner {
  background-image: linear-gradient(to right, rgba(248, 249, 250, 0), #f8f9fa),
    linear-gradient(to left, rgba(248, 249, 250, 0), #f8f9fa),
    url(/assets/images/ppf-water.jpg);
}

.step-6-banner {
  background-image: linear-gradient(to right, rgba(248, 249, 250, 0), #f8f9fa),
    linear-gradient(to left, rgba(248, 249, 250, 0), #f8f9fa),
    url(/assets/images/ppf-shine.jpg);
}

/* -------------------- RESPONSIVE -------------------------- */

@media (max-width: 768px) {
  .step-1-text {
    background-image: linear-gradient(to right, rgba(248, 249, 250, 0.185), #f8f9fa),
      linear-gradient(to left, rgba(248, 249, 250, 0), #f8f9fa),
      url(/assets/images/ppf-scratch.jpg);
  }

  .step-2-text {
    background-image: linear-gradient(to right, rgba(248, 249, 250, 0.185), #f8f9fa),
      linear-gradient(to left, rgba(248, 249, 250, 0), #f8f9fa),
      url(/assets/images/ppf-self-heal.jpg);
  }

  .step-3-text {
    background-image: linear-gradient(to right, rgba(248, 249, 250, 0.185), #f8f9fa),
      linear-gradient(to left, rgba(248, 249, 250, 0), #f8f9fa),
      url(/assets/images/ppf-paint.jpg);
  }

  .step-4-text {
    background-image: linear-gradient(to right, rgba(248, 249, 250, 0.185), #f8f9fa),
      linear-gradient(to left, rgba(248, 249, 250, 0), #f8f9fa),
      url(/assets/images/ppf-uv.jpg);
  }

  .step-5-text {
    background-image: linear-gradient(to right, rgba(248, 249, 250, 0.185), #f8f9fa),
      linear-gradient(to left, rgba(248, 249, 250, 0), #f8f9fa),
      url(/assets/images/ppf-water.jpg);
  }

  .step-6-text {
    background-image: linear-gradient(to right, rgba(248, 249, 250, 0.185), #f8f9fa),
      linear-gradient(to left, rgba(248, 249, 250, 0), #f8f9fa),
      url(/assets/images/ppf-shine.jpg);
  }
}